/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
	/* Specify Swiper's Size: */

	/*width:200px;
	height: 100px;*/
}
.swiper-slide {
	/* Specify Slides's Size: */
	
	width: 100%;
	height: 100%;
	position: relative;
}
.swiper-slide-active {
	/* Specific active slide styling: */
}
.swiper-slide-visible {
	/* Specific visible slide styling: */	
}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
	/* Stylize pagination button: */	
}
.swiper-active-switch {
	/* Specific active button style: */	
}
.swiper-visible-switch {
	/* Specific visible button style: */	
}
/* ===============================================================
Diferent Swipers Styles
================================================================*/
.swiper-main {
	height: 548px;

	.row, .swiper-enclosure {
		height: 548px;
	}

	.swiper-container {
		height: 707px;
	}

	.swiper-container {
		z-index: 30;
	}

	.swiper-enclosure {
		position: absolute;
		left: 50%;
		@include translate(-50%, 0);
		width: 1400px;
	}

	.pagination {
		position: absolute;
		left: 144px;
		bottom: 33px;
		z-index: 50;
	}

	.swiper-pagination-switch {
		display: block;
		float: left;
		width: 12px;
		height: 12px;
		margin-right: 12px;
		background: url('../../images/slider_big.png') no-repeat 0 -12px transparent;

		@include breakpoint(retina) {
			background: url('../../images/slider_big@2x.png') no-repeat 0 -12px transparent;
			background-size: 12px auto;
		}
	}

	.swiper-pagination-switch:hover, .swiper-active-switch {
		background: url('../../images/slider_big.png') no-repeat 0 0px transparent;

		@include breakpoint(retina) {
			background: url('../../images/slider_big@2x.png') no-repeat 0 0 transparent;
			background-size: 12px auto;
		}
	}

	.swiper-visible-switch {
		/* Specific visible button style: */	
	}

	.arrow-left, .arrow-right {
		display: block;
		position: absolute;
		top: 50%;
		@include translate(0, -50%);
		z-index: 40;
		width: 32px;
		height: 56px;
		background: url('../../images/slider_arrows.png') no-repeat transparent;
	}

	.arrow-left {
		left: 77px;
		background-position: 0 0;

		&:hover {
			background-position: 0 -111px;
		}
	}

	.arrow-right {
		right: 77px;
		background-position: 0 -56px;

		&:hover {
			background-position: 0 -168px;
		}
	}
}

.vertical-swiper {
	width: 555px;
	height: 158px;
	background-color: #fff;

	.swiper-enclosure {
		position: relative;
		width: 556px;
	}

	.swiper-enclosure, .swiper-container {
		height: 158px;
	}

	.pagination {
		position: absolute;
		@include translate(0, -50%);
		top: 50%;
		z-index: 50;
		margin-top: -3px;

		&.pagination-left {
			left: 32px;
		}

		&.pagination-right {
			right: 32px;
		}
	}

	.swiper-pagination-switch {
		display: block;
		float: left;
		clear: both;
		width: 8px;
		height: 8px;
		margin-bottom: 6px;
		background: url('../../images/slider.png') no-repeat 0 -8px transparent;

		@include breakpoint(retina) {
			background: url('../../images/slider@2x.png') no-repeat 0 -8px transparent;
			background-size: 8px auto;
		}
	}

	.swiper-pagination-switch:hover, .swiper-active-switch {
		background: url('../../images/slider.png') no-repeat 0 0 transparent;

		@include breakpoint(retina) {
			background: url('../../images/slider@2x.png') no-repeat 0 0 transparent;
			background-size: 8px auto;
		}
	}

	.layout-1, .layout-2 {
		div.img-holder {
			float: left;
			position: relative;
			height: 100%;

			img {
				float: left;
				@include translate(0, -50%);
				position: relative;
				top: 50%;
				margin-right: 18px;
			}
		}
	}

	.layout-1 {
		div.img-holder {
			padding-left: 75px;
		}

		h2, h3 {
			width: 330px;
		}

		h2 {
			float: left;
			font-size: 12px;
			line-height: 14px;
		}

		h3 {
			float: left;
			margin-top: 33px;
			font-size: 69px;
			line-height: 69px;
			text-transform: uppercase;
			font-weight: 700;
		}
	}

	.layout-2 {
		div.img-holder {
			padding-left: 32px;
		}

		h2, p {
			width: 410px;
			padding-right: 80px;
		}

		h2 {
			float: left;
			margin-top: 33px;
			font-size: 32px;
			line-height: 32px;
			font-weight: 700;
		}

		p {
			float: left;
			font-size: 12px;
			line-height: 12px;
			font-style: italic;
		}
	}
}