/*  ==========================================================================
    Splash Styles
    ========================================================================== */
    #splash {
        position: relative;

        width: 100%;
        height: 100%;

        img {
            @include translate(-50%, 0);

            position: absolute;
            left: 50%;
            top: 5%;

            width: 100%;
            max-width: 200px;
        }

        div.waves {
            overflow: hidden;

            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 250px;
        }
    }