/*  ==========================================================================
    Spot Styles
    ========================================================================== */
    #sp {
        position: relative;

        width: 100%;
        height: 100%;

        font-family: "BJ", sans-serif;

        div.spot {
            position: relative;

            &:last-child {
                margin-bottom: 60px;
            }

            img {
                max-width: 100%;
            }

            h1 {
                position: absolute;
                top: 55px;
                left: 30px;

                font-size: 34px;
                color: $font_color;
                text-align: left;
                
                b {
                    margin-left: -10px;

                    font-family: "SJ", sans-serif;

                    &:before {
                        content: "/";
                        margin-right: 4px;
                    }
                }
            }

            > div {
                overflow: hidden;

                padding: 12px 10px 14px;
            }
        }

        ul.two-hours {
            overflow: hidden;

            width: 100%;

            li {
                float: left;

                width: 50%;

                text-align: center;

                &:last-child {
                    border-left: 2px solid $font_color;
                }
            }

            span.text, .col {
                font-size: 12px;
            }

            span.text {
                color: $font_color2;
            }

            table {

                .col {
                    padding: 6px 4px 6px 6px;

                    color: $font_color1;

                    &:not(:first-child) {
                        text-align: center;
                    }

                    &:not(:first-child):not(:last-child) {
                        padding: 6px 2px;
                    }

                    &:last-child {
                        padding: 6px 6px 6px 4px;
                    }
                }

                span.text {
                    color: $font_color;
                }
            }
        }

        div.chart {
            overflow: hidden;

            table {
                width: 100%;

                margin-top: 10px;
            }

            table.dates {

                .col {
                    font-size: 11px;
                    text-align: center;
                    color: $font_color;

                    p {
                        font-family: "BJ", sans-serif;
                    }
                }
            }

            table.height {

                .col {
                    font-family: "BJ", sans-serif;
                    font-size: 9px;
                    text-align: center;
                    color: $font_color2;
                }
            }

            ul.legend {
                margin: 12px 0 10px;

                text-align: center;

                li {
                    display: inline-block;

                    font-size: 8px;
                    color: $font_color;

                    b {
                        display: inline-block;

                        width: 20px;
                        height: 12px;

                        margin-right: 6px;

                        vertical-align: middle;

                        background-color: $font_color1;
                    }

                    &:last-child b {
                        background-color: $font_color2;
                    }
                }
            }

            canvas {
                margin-top: 10px;

                @include scale(0.9);
            }
        }

        div.future {
            padding-top: 10px;

            table {
                width: 100%;

                &:last-child {
                    margin-bottom: 10px;
                }
            }

            .col {
                padding-bottom: 10px;

                color: $font_color1;
                text-align: center;

                p, &:not(:first-child):not(.head) {
                    color: $font_color;
                }

                &.head {
                    font-size: 12px;
                    vertical-align: top;

                    p {
                        font-size: 8px;
                    }
                }
            }

            .col, span.text {
                font-size: 10px;
            }

            span.direction {
                margin-left: 6px;
            }

            span.smaller-icon {
                margin-right: 6px;
            }

            span.wave-seperator {
                display: block;
                
                width: 92%;
                height: 10px;

                margin: 6px auto 16px;

                background: url(../../img/wave_border.png) repeat-x center center;
                background-size: auto 10px;
            }
        }

        ul.spot-navigation {
            margin: 40px 0 80px;

            text-align: center;

            li {
                display: inline-block;
            }

            a {
                display: inline-block;

                position: relative;

                width: 90px;
                height: 60px;

                font-size: 9px;
                color: $font_color;

                background: url(../../img/spot_navigation.png) no-repeat 0 0;
                background-size: auto 60px;

                span {
                    display: inline-block;

                    @include translate(0, -50%);

                    position: absolute;
                    top: 50%;
                    left: 0;

                    width: 100%;

                    padding-right: 36px;
                }
            }
        }
    }