/* 	==========================================================================
   	Animations Styles
   	========================================================================== */

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

@keyframes waveA {
    from { @include translate(0, 0); }
    10% { @include translate(-20px, -5px); }
    20% { @include translate(-40px, 0); }
    30% { @include translate(-60px, 5px); }
    40% { @include translate(-80px, 0); }
    50% { @include translate(-100px, -5px); }
    60% { @include translate(-80px, 0); }
    70% { @include translate(-60px, 5px); }
    80% { @include translate(-40px, 0); }
    90% { @include translate(-20px, -5px); }
    to { @include translate(0, 0); }
}
 
@-webkit-keyframes waveA {
    from { @include translate(0, 0); }
    10% { @include translate(-20px, -5px); }
    20% { @include translate(-40px, 0); }
    30% { @include translate(-60px, 5px); }
    40% { @include translate(-80px, 0); }
    50% { @include translate(-100px, -5px); }
    60% { @include translate(-80px, 0); }
    70% { @include translate(-60px, 5px); }
    80% { @include translate(-40px, 0); }
    90% { @include translate(-20px, -5px); }
    to { @include translate(0, 0); }
}

.waveA {
    animation: waveA 12s linear infinite;
    -webkit-animation: waveA 12s linear infinite;
}

@keyframes waveB {
    from { @include translate(0, 0); }
    10% { @include translate(-25px, -8px); }
    20% { @include translate(-50px, 2px); }
    30% { @include translate(-75px, 8px); }
    40% { @include translate(-100px, 2px); }
    50% { @include translate(-125px, -8px); }
    60% { @include translate(-100px, 2px); }
    70% { @include translate(-75px, 8px); }
    80% { @include translate(-50px, 2px); }
    90% { @include translate(-25px, -8px); }
    to { @include translate(0, 0); }
}
 
@-webkit-keyframes waveB {
    from { @include translate(0, 0); }
    10% { @include translate(-25px, -8px); }
    20% { @include translate(-50px, 2px); }
    30% { @include translate(-75px, 8px); }
    40% { @include translate(-100px, 2px); }
    50% { @include translate(-125px, -8px); }
    60% { @include translate(-100px, 2px); }
    70% { @include translate(-75px, 8px); }
    80% { @include translate(-50px, 2px); }
    90% { @include translate(-25px, -8px); }
    to { @include translate(0, 0); }
}
 
.waveB {
    animation: waveB 12s linear infinite;
    -webkit-animation: waveB 12s linear infinite;
}

@keyframes waveC {
    from { @include translate(0, 0); }
    10% { @include translate(-20px, -5px); }
    20% { @include translate(-35px, 5px); }
    30% { @include translate(-50px, 2px); }
    40% { @include translate(-70px, 5px); }
    50% { @include translate(-85px, -5px); }
    60% { @include translate(-70px, 2px); }
    70% { @include translate(-50px, 5px); }
    80% { @include translate(-35px, 2px); }
    90% { @include translate(-20px, -5px); }
    to { @include translate(0, 0); }
}
 
@-webkit-keyframes waveC {
    from { @include translate(0, 0); }
    10% { @include translate(-20px, -5px); }
    20% { @include translate(-35px, 5px); }
    30% { @include translate(-50px, 2px); }
    40% { @include translate(-70px, 5px); }
    50% { @include translate(-85px, -5px); }
    60% { @include translate(-70px, 2px); }
    70% { @include translate(-50px, 5px); }
    80% { @include translate(-35px, 2px); }
    90% { @include translate(-20px, -5px); }
    to { @include translate(0, 0); }
}
 
.waveC {
    animation: waveC 12s linear infinite;
    -webkit-animation: waveC 12s linear infinite;
}

@keyframes waveD {
    from { @include translate(0, 0); }
    10% { @include translate(-20px, -5px); }
    20% { @include translate(-40px, 0); }
    30% { @include translate(-60px, 5px); }
    40% { @include translate(-80px, 0); }
    50% { @include translate(-100px, -5px); }
    60% { @include translate(-80px, 0); }
    70% { @include translate(-60px, 5px); }
    80% { @include translate(-40px, 0); }
    90% { @include translate(-20px, -5px); }
    to { @include translate(0, 0); }
}
 
@-webkit-keyframes waveD {
    from { @include translate(0, 0); }
    10% { @include translate(-20px, -5px); }
    20% { @include translate(-40px, 0); }
    30% { @include translate(-60px, 5px); }
    40% { @include translate(-80px, 0); }
    50% { @include translate(-100px, -5px); }
    60% { @include translate(-80px, 0); }
    70% { @include translate(-60px, 5px); }
    80% { @include translate(-40px, 0); }
    90% { @include translate(-20px, -5px); }
    to { @include translate(0, 0); }
}
 
.waveD {
    animation: waveD 12s linear infinite;
    -webkit-animation: waveD 12s linear infinite;
}

@keyframes wavy {
    from { @include translate(0, 0); }
    25% { @include translate(2px, -2px); }
    50% { @include translate(0, -4px); }
    75% { @include translate(-2px, -2px); }
    to { @include translate(0, 0); }
}
 
@-webkit-keyframes wavy {
    from { @include translate(0, 0); }
    25% { @include translate(2px, -2px); }
    50% { @include translate(0, -4px); }
    75% { @include translate(-2px, -2px); }
    to { @include translate(0, 0); }
}

.wave {
	animation: wavy 5s linear infinite;
    -webkit-animation: wavy 5s linear infinite;
}

@keyframes loading {
    from { @include rotate(0); }
    13% { @include rotate(45deg); }
    26% { @include rotate(90deg); }
    39% { @include rotate(135deg); }
    50% { @include rotate(180deg); }
    61% { @include rotate(225deg); }
    74% { @include rotate(270deg); }
    87% { @include rotate(315deg); }
    to { @include rotate(360deg); }
}
 
@-webkit-keyframes loading {
    from { @include rotate(0); }
    13% { @include rotate(45deg); }
    26% { @include rotate(90deg); }
    39% { @include rotate(135deg); }
    50% { @include rotate(180deg); }
    61% { @include rotate(225deg); }
    74% { @include rotate(270deg); }
    87% { @include rotate(315deg); }
    to { @include rotate(360deg); }
}

.loader.loading b {
    animation: loading 3s ease-in-out infinite;
    -webkit-animation: loading 3s ease-in-out infinite;
}