@charset "UTF-8";

@font-face {
	font-family: "BJ";
	src: url("../../fonts/bj/bigjohn.eot");
	src: url("../../fonts/bj/bigjohn.eot?#iefix") format("embedded-opentype"),
		 url("../../fonts/bj/bigjohn.woff") format("woff2"),
		 url("../../fonts/bj/bigjohn.woff") format("woff"),
		 url("../../fonts/bj/bigjohn.ttf") format("truetype"),
		 url("../../fonts/bj/bigjohn.svg#BJ") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SJ";
	src: url("../../fonts/sj/slimjoe.eot");
	src: url("../../fonts/sj/slimjoe.eot?#iefix") format("embedded-opentype"),
		 url("../../fonts/sj/slimjoe.woff") format("woff2"),
		 url("../../fonts/sj/slimjoe.woff") format("woff"),
		 url("../../fonts/sj/slimjoe.ttf") format("truetype"),
		 url("../../fonts/sj/slimjoe.svg#SJ") format("svg");
	font-weight: normal;
	font-style: normal;
}