/* ==========================================================================
   Global Styles
   ========================================================================== */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;

    margin: 0px;
    padding: 0px;

    background: url(../../img/bg.png) repeat black;
    background-size: 200px auto;
    background-attachment: fixed;

    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

/* Portrait layout (default) */
.app {
    background: url(../../img/logo.png) no-repeat center top; /* 170px x 200px */
    position: absolute;             /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px;                   /* text area height */
    width: 225px;                   /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

/* Resets */
* {
    text-decoration: none;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    @include box-sizing(border-box);
    -webkit-appearance: none;
}

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020"; 
        display: block; 
        height: 0; 
        overflow: hidden; 
    }
    &:after {
        clear: both;
    }
}

input, button {
    border: none;
}

button {
    cursor: pointer;
}

span.loader {
    display: block;

    @include translate(-50%, -10%);

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;

    b {
        display: block;

        width: 79px;
        height: 79px;

        background: url(../../img/loader.png) no-repeat center center;
        background-size: 46px 46px;
    }
}


/*  ==========================================================================
    Spot Info Styles
    ========================================================================== */

    span.seperator {
        display: block;

        width: 100%;
        height: 8px;

        background: url(../../img/seperator.png) repeat-x 0px 0px;
        background-size: auto 8px;
    }

    div.spot-date, div.spot-pictogram {
        display: inline-block;
        float: left;

        span.day, span.weather-desc {
            float: left;
            clear: both;

            font-family: Tahoma, Geneva, sans-serif;
            font-size: 15px;
            color: $font_color1;
        }
    }

    div.spot-date {
        padding-top: 8px;

        font-family: "BJ", sans-serif;
        color: $font_color;

        span.date {
            float: left;

            margin-bottom: -10px;

            font-size: 50px;
            line-height: 52px;
            letter-spacing: -6px;
        }

        span.month {
            float: left;

            font-size: 12px;
            letter-spacing: -1px;

            &:before {
                content: "/";
            }
        }
    }


    div.spot-pictogram {

        span.spot-pic {
            display: inline-block;
            float: left;

            width: 56px;
            height: 50px;

            &.partly-cloudy {
                background: url(../../img/weather/icon_pc.png) no-repeat center center;
                background-size: 56px auto;
            }
        }
    }

    div.spot-basic {
        display: inline-block;
        float: right;

        margin-top: -6px;
    }

    div.spot-wave, div.spot-air {
        display: inline-block;
        float: left;
        clear: both;

        padding: 0 10px;
    }

    div.spot-air {
        color: $font_color;
    }

    div.spot-wave {
        padding-top: 15px;
        margin-top: 5px;

        background: url(../../img/wave_border_small.png) repeat-x 0 0;
        background-size: 24px auto;

        color: $font_color1;
    }

    span.text {
        font-family: "BJ", sans-serif !important;
        font-size: 15px;

        &.move-away-from-me {
            margin: 0 4px;
        }

        b {
            font-family: Tahoma, Geneva, sans-serif !important;
        }
    }

    span.first-bj {
        font-family: Tahoma, Geneva, sans-serif !important;

        i {
            font-family: "BJ", sans-serif !important;
        }
    }

    span.direction {
        display: inline-block;

        position: relative;

        width: 24px;
        height: 24px;

        @include border-radius(50px);
        border: 2px solid $font_color;

        vertical-align: middle;

        b {
            display: block;

            @include translate(-50%, -50%);

            position: absolute;
            left: 50%;
            top: 50%;

            width: 13px;
            height: 13px;

            background: url(../../img/direction_arrow.png) no-repeat 0 0;
            background-size: 13px 13px;
        }

        &.blue {
            border-color: $font_color1;

            b {
                background: url(../../img/direction_arrow_blue.png) no-repeat 0 0;
                background-size: 13px 13px;
            }
        }

        &.small {
            width: 16px;
            height: 16px;

            border-width: 1px;

            b {
                width: 9px;
                height: 9px;

                background-size: 9px 9px;
            }
        }
    }

    span.smaller-icon {
        display: inline-block;

        width: 30px;
        height: 30px;

        vertical-align: middle;

        &.even-smaller {
            width: 22px;
            height: 22px;

            background-size: 22px 22px !important;
        }

        &.partly-cloudy {
            background: url(../../img/weather/icon_small_pc.png) no-repeat 0 0;
            background-size: 30px auto;
        }
    }

/* Resets end */