/* General */
$transition_duration: 0.3s;

/* Colors */
$font_color: #edddc5;
$font_color1: #a0b29d;
$font_color2: #f9b233;

/* Circle colors */
$circle_one: #eedec3;
$circle_two: #a1b39e;
$circle_three: #3f7871;
