/*  ==========================================================================
    Navigation Styles
    ========================================================================== */
    nav#navigation {
        position: fixed;
        position: sticky;

        z-index: 1200;

        bottom: 0;
        left: 0;

        width: 100%;
        height: 0;

        a#fake_button {
            display: block;

            @include translate(-50%, 0);

            position: absolute;
            left: 50%;
            top: -90px;

            width: 90px;
            height: 120px;
            z-index: 102;
        }

        a.hexagon {
            display: block;
            position: absolute;
            z-index: 1;
            font-family: "BJ", sans-serif;

            left: 10px;
            top: 150px;

            width: 130px;
            height: 130px;

            background: url(../../img/hexagon_bg.png) no-repeat center center;
            background-size: auto 130px;

            color: $font_color;
            font-size: 24px;
            font-weight: 700;
            text-align: center;

            &.hexagon-right {
                left: auto;
                right: 15px;
            }

            &.hexagon-surf {
                left: 25px;
            }

            &.hexagon-other {
                margin-top: 30px;
                right: 25px;
            }

            span {
                display: block;

                @include translate(0, -50%);

                position: relative;
                top: 50%;
            }
        }

        span.copy {
            display: inline-block;

            @include translate(-50%, 0);

            position: absolute;
            bottom: 14px;
            left: 50%;
            z-index: 1201;

            font-size: 33px;
            font-family: "SJ", sans-serif;
            color: $font_color;         
        }
        
        ul.ocean {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 100;

            width: 100%;
            height: 0;

            > li {
                display: block;

                position: absolute;

                width: 100%;
                height: 160px;
            }
        }

        a.nav-toggle {
            display: block;

            @include translate(-50%, 0);

            position: absolute;
            left: 50%;

            width: 90px;
            height: 120px;

            background: url(../../img/toggle_button.png) no-repeat center center;
            background-size: 90px auto;
        }

        ul.main-nav {
            position: relative;

            li {
                display: inline-block;

                @include translate(-50%, 0);

                position: absolute;
                left: 50%;
                top: 90px;
            }

            a {
                display: inline-block;
                
                width: 76px;
                height: 90px;

                &.home {
                    background: url(../../img/home_button.png) no-repeat center center;
                    background-size: 76px auto;
                }

                &.spots {
                    background: url(../../img/spots_button.png) no-repeat center center;
                    background-size: 76px auto;
                }

                &.events {
                    background: url(../../img/events_button.png) no-repeat center center;
                    background-size: 76px auto;
                }
            }
        }

        div.wave-el, div.beach-el {
            position: absolute;
        }

        div.wave-el {
            z-index: 1;

            width: 160%;
            height: 240px;

            background: url(../../img/wave_shadow.png) repeat-x left top;
            background-size: auto 190px;

            div.wave {
                position: absolute;
                z-index: 2;

                width: 160%;
                height: 240px;

                &.wave-green-darker {
                    background: url(../../img/wave_green_darker.png) repeat-x left top;
                    background-size: auto 190px;
                }

                &.wave-green-dark {
                    background: url(../../img/wave_green_dark.png) repeat-x left top;
                    background-size: auto 190px;
                }

                &.wave-green-light {
                    background: url(../../img/wave_green_light.png) repeat-x left top;
                    background-size: auto 190px;
                }

                &.wave-green {
                    background: url(../../img/wave_green.png) repeat-x left top;
                    background-size: auto 190px;
                }
            }
        }

        div.beach-el {
            z-index: 2;
            width: 100%;
            height: 120px;

            div.beach {
                position: absolute;
                z-index: 2;

                bottom: 0;

                width: 100%;
                height: 86px;
                
                background: url(../../img/beach.png) repeat-x center top;
                background-size: 200px auto;
            }
        }

        div.choise {
            position: absolute;
            left: 50%;
            z-index: 1;

            width: 130px;
            height: 130px;

            margin-left: -65px;


            font-family: "SJ", sans-serif;
            font-size: 20px;
            color: $font_color;

            background: url(../../img/select_background.png) no-repeat center center;
            background-size: auto 130px;

            span {
                display: inline-block;

                @include translate(-50%, -50%);

                position: absolute;
                top: 50%;
                left: 50%;

                width: 90%;

                text-align: center;
            }
        }

        div.circles {
            position: absolute;

            width: 100%;

            span {
                display: block;

                @include translate(-50%, -50%);

                position: absolute;
                left: 50%;
                top: 0;

                @include border-radius(500px);
                border: 4px solid $circle_two;

                @include opacity(0);
                background-color: transparent;

                &:first-child {
                    border-color: $circle_one;
                }

                &:last-child {
                    border-color: $circle_three;
                }
            }
        }
    }